@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.progress-line__outer {
  margin:0px;
  display: flex;
  border-radius: 30px;
}
.progress-line{
  margin:2px auto;
  padding:10px;
  width:40%;
  font-family:fantasy
}
#bars{
  margin:0 auto;
  width:100%;
  text-align:center;
  align-items:center;
}
