body{
    overflow-y: scroll;
}
.project-card{
    position: relative;
    margin:40px auto;
    padding:20px;
    position: relative;
    display:flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 20px;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width:50%;
}
.project-content{
    padding:30px;
    z-index:2;
    width:70%;
    max-width: 100%;
    white-space: pre-wrap;
    text-rendering: optimizeLegibility;

}
.project-image{
    margin:0;
    padding:0;
    width:25%;
    top:0;
    left:0;
    height: inherit;
    position: relative;

}
@media screen and (max-device-width:700px){
    .project-image{
        display:none !important;
    }
}
.list{
    display:block;
}

.blink {
    font-size: 25px;
    color:#ed3264;
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  padding:10px;
}
.glitch-txt {
  position: relative;
  text-align: center;
}
.glitch-txt:before{
text-align: center;
  position: absolute;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  text-shadow: 1px 0 #f1f1f1;
  content: attr(data-text);
  animation: noise-anim 5s infinite linear alternate-reverse;
}
#wrap{
    margin-top:15px;
}
.project-links
{
  background: #747fe0;
  color:white;
  box-sizing:border-box;
  font-size:0.9em;
  display:inline-block;
  white-space:nowrap;
  border-radius:4px;
  align-items: center;
  transition: all 2s ease;
  text-align: center;
  padding:5px;
}
@keyframes noise-anim {
  0% {
    clip: rect(19px, 9999px, 30px, 0);
  }
  5% {
    clip: rect(44px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(8px, 9999px, 24px, 0);
  }
  15% {
    clip: rect(61px, 9999px, 91px, 0);
  }
  20% {
    clip: rect(18px, 9999px, 39px, 0);
  }
  25% {
    clip: rect(81px, 9999px, 100px, 0);
  }
  30% {
    clip: rect(92px, 9999px, 23px, 0);
  }
  35% {
    clip: rect(6px, 9999px, 62px, 0);
  }
  40% {
    clip: rect(9px, 9999px, 75px, 0);
  }
  45% {
    clip: rect(16px, 9999px, 38px, 0);
  }
  50% {
    clip: rect(52px, 9999px, 92px, 0);
  }
  55% {
    clip: rect(64px, 9999px, 38px, 0);
  }
  60% {
    clip: rect(79px, 9999px, 68px, 0);
  }
  65% {
    clip: rect(80px, 9999px, 67px, 0);
  }
  70% {
    clip: rect(42px, 9999px, 63px, 0);
  }
  75% {
    clip: rect(77px, 9999px, 79px, 0);
  }
  80% {
    clip: rect(91px, 9999px, 48px, 0);
  }
  85% {
    clip: rect(65px, 9999px, 54px, 0);
  }
  90% {
    clip: rect(85px, 9999px, 17px, 0);
  }
  95% {
    clip: rect(33px, 9999px, 81px, 0);
  }
  100% {
    clip: rect(36px, 9999px, 22px, 0);
  }
}
#heading{
    display: block;
    margin-top: 100px;
    padding:20px;
    font-size: 50px;
    font-weight: 900;
      text-align:center;
      transform: none !important;
      font-family:'Luckiest Guy', 'Helvetica Neue', Arial, sans-serif, cursive;
}