* {
  margin: 0;
  padding: 0;
}

html,
body {
    background:url("images/5.jpg");
  height: 100%;
  overflow: hidden;
}
body {
  font-family: 'Inconsolata', Monaco, Courier, monospace;
  color: #333;
}

.burrito-wrap {
  position: absolute;
  overflow-y: scroll;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.go-back {
  color: #333;
  font-family: 'Luckiest Guy', 'Helvetica Neue', Arial, sans-serif, cursive;
  background-color: #ed3264;
  padding: 7px 5px 0 5px;
}

small {
  font-size: 0.666em;
  vertical-align: middle;
}

section {
  padding: 3em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

h1 {
  font-family: 'Luckiest Guy', 'Helvetica Neue', Arial, sans-serif, cursive;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.2em;
  text-transform: uppercase;
}

h2 {
  color: #999;
  font-weight: normal;
  font-size: 1em;
  letter-spacing: 0.1em;
  margin-top: -1em;
  margin-bottom: 2em;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

h1,
h2 {
  position: relative;
}

h2 > span {
  background-color: #ed3264;
  color: white;
  padding: 2px;
  font-size: 1.4em;
  line-height: 1.4em;
}

h2 > span > small {
  padding-left: 2px;
}

ul {
  margin-bottom: 1.1em;
}

li {
  list-style: none;
  margin-top: 0.4em;
}

p {
  font-size: 1em;
  line-height: 2em;
  margin: 0;
  letter-spacing: 1px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

a {
  text-transform: uppercase;
  color: #666666;
  text-decoration: none;
  transition: all 0.4s ease;
  padding: 1px;
  font-weight: 900;
}

a.disabled:hover {
  color: #b8b7b7;
  background-color: transparent;
}

a:hover {
  background-color: #ed3264;
  color: white;
}

.disabled {
  color: #999;
  font-style: italic;
  cursor: not-allowed;
}

footer {
  display: -webkit-flex;
  display: flex;
}

p.copy {
  padding-left: 3em;
}

.rotate {
  display: inline-block;
  transform: rotate(66deg);
  -webkit-transform: rotate(66deg);
  -moz-transform: rotate(66deg);
  animation: roll 2s 1;
  -webkit-animation: roll 2s 1;
  -moz-animation: roll 2s 1;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(412deg);
  }
}
@-webkit-keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(422deg);
  }
}
@-moz-keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(422deg);
  }
}

.blink {
  animation: blink 0.2s infinite;
  -webkit-animation: blink 0.2s infinite;
  -moz-animation: blink 0.2s infinite;
}

.blink-slow {
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*BROWSER CONFIG*/
@-ms-viewport {
  width: device-width;
}

::-moz-selection {
  background: #edda32;
}

::selection {
  background: #edda32;
}

span.status {
  font-size: 1em;
  font-weight: 400;
  background-color: #74f2ba;
  margin-bottom: 1.5em;
}

/*PACE LOADING PROGRESS BAR*/

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);

  -webkit-transition: -webkit-transform 0.5s ease-out;
  -ms-transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 10px;
  background: #ed3264;

  pointer-events: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40%,
  100% {
    opacity: 1;
  }
}

/* glitch */
.glitch-txt {
  position: relative;
}

.glitch:before,
.glitch-txt:before {
  position: absolute;
  left: -1px;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  text-shadow: 1px 0 #f1f1f1;
  content: attr(data-text);
  animation: noise-anim 3s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  0% {
    clip: rect(19px, 9999px, 30px, 0);
  }
  5% {
    clip: rect(44px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(8px, 9999px, 24px, 0);
  }
  15% {
    clip: rect(61px, 9999px, 91px, 0);
  }
  20% {
    clip: rect(18px, 9999px, 39px, 0);
  }
  25% {
    clip: rect(81px, 9999px, 100px, 0);
  }
  30% {
    clip: rect(92px, 9999px, 23px, 0);
  }
  35% {
    clip: rect(6px, 9999px, 62px, 0);
  }
  40% {
    clip: rect(9px, 9999px, 75px, 0);
  }
  45% {
    clip: rect(16px, 9999px, 38px, 0);
  }
  50% {
    clip: rect(52px, 9999px, 92px, 0);
  }
  55% {
    clip: rect(64px, 9999px, 38px, 0);
  }
  60% {
    clip: rect(79px, 9999px, 68px, 0);
  }
  65% {
    clip: rect(80px, 9999px, 67px, 0);
  }
  70% {
    clip: rect(42px, 9999px, 63px, 0);
  }
  75% {
    clip: rect(77px, 9999px, 79px, 0);
  }
  80% {
    clip: rect(91px, 9999px, 48px, 0);
  }
  85% {
    clip: rect(65px, 9999px, 54px, 0);
  }
  90% {
    clip: rect(85px, 9999px, 17px, 0);
  }
  95% {
    clip: rect(33px, 9999px, 81px, 0);
  }
  100% {
    clip: rect(36px, 9999px, 22px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(40px, 9999px, 35px, 0);
  }
  5% {
    clip: rect(11px, 9999px, 5px, 0);
  }
  10% {
    clip: rect(63px, 9999px, 14px, 0);
  }
  15% {
    clip: rect(60px, 9999px, 8px, 0);
  }
  20% {
    clip: rect(79px, 9999px, 68px, 0);
  }
  25% {
    clip: rect(4px, 9999px, 52px, 0);
  }
  30% {
    clip: rect(3px, 9999px, 37px, 0);
  }
  35% {
    clip: rect(14px, 9999px, 29px, 0);
  }
  40% {
    clip: rect(87px, 9999px, 89px, 0);
  }
  45% {
    clip: rect(13px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(96px, 9999px, 74px, 0);
  }
  55% {
    clip: rect(50px, 9999px, 4px, 0);
  }
  60% {
    clip: rect(32px, 9999px, 4px, 0);
  }
  65% {
    clip: rect(33px, 9999px, 52px, 0);
  }
  70% {
    clip: rect(68px, 9999px, 25px, 0);
  }
  75% {
    clip: rect(44px, 9999px, 83px, 0);
  }
  80% {
    clip: rect(88px, 9999px, 32px, 0);
  }
  85% {
    clip: rect(81px, 9999px, 38px, 0);
  }
  90% {
    clip: rect(48px, 9999px, 39px, 0);
  }
  95% {
    clip: rect(19px, 9999px, 94px, 0);
  }
  100% {
    clip: rect(48px, 9999px, 30px, 0);
  }
}
.flex-center {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.icon-3d {
	padding: 10px;
	-webkit-animation: icon3d 200ms infinite;
	animation: icon3d 200ms infinite;
	color: #fff;
}

.icon-3d:hover {
    color:black;
	-webkit-animation: icon3d 200ms 1s;
	animation: icon3d 200ms 1s;
}
.social{
    margin-left:50px;
    border-radius: 15px;
}
@keyframes icon3d {
	0% {
		text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
	}

	25% {
		text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
	}

	50% {
		text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
	}

	75% {
		text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
	}

	100% {
		text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
	}
}